@use "/styles/_fonts.scss";
@use "/styles/_variables.scss" as variables;

.main {
  .box-outside {
    padding: 100px;
    padding-bottom: 0px;

    background-color: white;

    bottom: 0px;
    right: 0px;

    p {
      color: variables.$dark-gray-200;
    }

    @media (min-width: 992px) {
      position: absolute;
    }
    @media (min-width: 1444px) {
      min-height: 400px;
    }
    @media (max-width: 1220px) {
      padding: 50px;
    }

    @media (max-width: 450px) {
      padding: 12px;
      margin-top: 30px;
    }
  }
}
.galery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  gap: 50px;
}
